.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    background: white;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(62, 24, 108);
    font-size: 50px;
    font-weight: 750;
}

.underline{
    width: 65px;
    height: 8px;
    background: rgb(62, 24, 108);
    border-radius: 12px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: aliceblue;
    border-radius: 10px;
}

.input img{
    margin: 0px 30px;   
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 20px;
}

.forgot-password{
    padding-left: 65px;
    margin-top: 30px;
    color: grey;
    font-size: 20px;
}

.forgot-password span{
    color: rgb(62, 24, 108);
    cursor: pointer;
    font-weight: 550;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    color: white;
    background: rgb(62, 24, 108);
    border-radius: 60px;
    font-size: 25px;
    font-weight: 650;
    cursor: pointer;
}

.gray{
    background: aliceblue;
    color: grey;
}